.banners.block {
    position: relative;
    width: 100%;
}

.banners .slider-wrapper {
    position: relative;
    overflow: hidden;
    height: 700px; 
}

.slider-wrapper .slide {
    display: none;
    width: 100%;
}

.slider-wrapper .slide.active {
    display: block;
}

.slider-wrapper .slide picture img {
    width: 100%;
    height: auto;
    display: block;
}

.banners .slider-wrapper {
    cursor: grab;
    user-select: none; 
}


.banners img {
    pointer-events: none;
    -webkit-user-drag: none;
}
