.faq-bank-wrapper {
    --ff-regular: var(--font-family-regular);
    --fs-tabs: var(--fs-body-3); /* 16px */
    --lh-tabs: var(--lh-body-3);
    --fw-tabs-medium: var(--fw-medium);
    --fw-tabs-regular: var(--fw-regular);
    --tabs-gap: var(--spacing-lg);
    --tabs-inactive-color: var(--clr-neutral-700);
    --tabs-active-color: var(--clr-neutral-900);
    --tabs-active-border: var(--clr-primary-500);
    --tabs-mobile-separator: var(--clr-neutral-100);
}
main .faq-banks.block.is-authoring > div:not(.faq-banks.block) {
    display: none !important;
}


.faq-bank-wrapper button {
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.faq-bank-wrapper .faq-top-nav-wrap {
    display: flex;
    align-items: start;
    gap: 0.75rem;
    border-bottom: 1px solid #e3e3e3;
}
.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-arrow {
    display: inline-flex;
    align-items: start;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--tabs-inactive-color);
}

.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-arrow:disabled {
    opacity: 0.35;
    cursor: default;
}
.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-arrow-prev {
    rotate: 180deg;
}
.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-divider {
    display: block;
    width: 1px;
    height: 1.25rem;
    background: var(--clr-border-default);
    flex-shrink: 0;
}

.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-list {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    flex: 1;
    overflow-x: auto;
    scrollbar-width: none;
}
.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-tab {
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: capitalize;
    color: var(--clr-neutral-700);
    font-family: var(--ff-regular);
    font-size: var(--fs-tabs);
    line-height: var(--lh-tabs);
    font-weight: var(--fw-tabs-regular);
    padding: 0 0 14px;

    flex: 0 0 max-content;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
}
.faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-tab.active {
    border-bottom-color: var(--tabs-active-border);
    color: var(--tabs-active-color);
    font-family: var(--ff-regular);
    font-size: var(--fs-tabs);
    line-height: var(--lh-tabs);
    font-weight: var(--fw-tabs-medium);
}

.faq-bank-wrapper .faq-main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.faq-bank-wrapper .faq-sidebar {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--tabs-gap);
    padding: 1.5rem 0;
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab {
    background: var(--clr-bg-default);
    width: 100%;
    cursor: pointer;
    font-size: var(--fs-tabs);
    line-height: var(--lh-tabs);
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: color 0.2s;
    margin: 0;
    padding: 0;
    border: none;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--clr-border-subtle);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab .faq-tabs-subtab-icon {
    width: 46.4px;
    height: 46.4px;
    /* width: 3rem;
    height: 3rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-border-subtle);
    border-radius: 0.75rem;
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab .faq-tabs-subtab-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    margin: 0;
    flex: 1;
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab .faq-tabs-subtab-label {
    color: var(--tabs-inactive-color);
    font-size: var(--fs-tabs);
    line-height: var(--lh-tabs);
    font-weight: var(--fw-tabs-regular);
    font-family: var(--font-family-medium);
    text-transform: capitalize;
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab .faq-tabs-subtab-count {
    color: var(--tabs-inactive-color);
    font-family: var(--ff-regular);
    font-size: var(--fs-tabs);
    line-height: var(--lh-tabs);
    font-weight: var(--fw-tabs-regular);
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab .faq-tabs-subtab-chevron {
    width: 14px;
    height: 14px;
    display: block;
}

.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab.active{
        color: var(--clr-text-brand);
}
.faq-bank-wrapper .faq-sidebar .faq-tabs-subtab.active .faq-tabs-subtab-label {
        color: var(--clr-text-brand);
}

.faq-bank-wrapper .faq-accordions {
    flex: 1;
    width: 100%;
    padding: 1.5rem 0;
}

.faq-bank-wrapper .faq-accordions .faq-tabs-item {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--clr-border-subtle);
    padding-bottom: 2rem;
}

.faq-bank-wrapper .faq-accordions .faq-tabs-question {
    margin: 0;
    padding: 0;
    font-weight: var(--fw-medium);
    font-size: var(--fs-title-2);
    color: var(--clr-text-primary);
    line-height: var(--lh-title-2);
    font-family: var(--font-family-medium);
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    transition: background-color 0.2s;
}

.faq-bank-wrapper
    .faq-accordions
    .faq-tabs-question::-webkit-details-marker {
    display: none;
}

.faq-bank-wrapper .faq-accordions .faq-tabs-question::marker {
    content: "";
}

.faq-bank-wrapper .faq-accordions .faq-tabs-question::after {
    content: "";
    transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/icons/plus-icon.svg) center / contain no-repeat;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.faq-bank-wrapper
    .faq-accordions
    .faq-tabs-item[open]
    .faq-tabs-question::after {
    content: "";
    background: url(/icons/minus-icon.svg) center / contain no-repeat;
}

.faq-bank-wrapper .faq-accordions .faq-tabs-answer {
    margin: 0.5rem 0 0;
    padding: 0;
    border: none;
}
.faq-bank-wrapper .faq-accordions .faq-tabs-answer p {
    margin: 0;
    font-weight: var(--fw-regular);
    font-size: var(--fs-body-4);
    color: var(--clr-neutral-700);
    line-height: var(--lh-body-4);
    max-width: 289px;
}

.faq-bank-wrapper .faq-accordions .faq-tabs-show-more-btn {
    padding: 0;
    background: unset;
    width: unset;
    border: none;
    display: flex;
    align-items: center;
    color: var(--clr-text-brand);
    font-family: var(--font-family-medium);
    font-size: var(--fs-btn-md);
    gap: 4px;
    line-height: var(--lh-btn-md);
    margin-top: -0.5rem;
}

@media (width >= 900px) {
    .faq-bank-wrapper .faq-bank.block{
        display: flex;
        flex-direction: column;
        gap:80px;
    }
    .faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-arrow,
    .faq-bank-wrapper .faq-top-nav-wrap .faq-tabs-top-nav-divider {
        display: none;
    }

    .faq-bank-wrapper .faq-main-content {
        flex-direction: row;
        gap: 8.4rem;
    }

    .faq-bank-wrapper .faq-sidebar {
        max-width: 302px;
        width: 100%;
        padding: 0;
    }
}
